/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Fondo oscuro moderno */
    color: #fff; /* Texto en blanco para mejor contraste */
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #39FF14, #00FFFF);
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #39FF14;
    box-shadow: 0 0 10px #39FF14, 0 0 20px #00FFFF;
    display: inline-block;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #39FF14, 0 0 40px #00FFFF, 0 0 60px #39FF14;
}

/* Encabezado */
header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 255, 127, 0.3);
}

header h1 {
    color: #00FFFF;
}

/* Botones principales */
a {
    background-color: #39FF14; /* Botones neón verde */
    color: #111; /* Contraste con el fondo oscuro */
    font-size: 1.2rem;
    transition: 0.3s ease;
}

a:hover {
    background-color: #00FFFF; /* Cambia a neón azul al pasar el mouse */
    color: #111;
}

/* Sección de paquetes */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
    padding: 20px;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Adaptabilidad móvil */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    a {
        font-size: 1rem;
        padding: 10px 20px;
    }

    section {
        padding: 10px;
    }
}

/* Pie de página */
footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    color: #00FFFF;
    border-top: 2px solid #39FF14;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
